component_metadata/
build/
dist/
venv/
mammoth/
demonstrator/
tests/
venv_test/
data/
__pycache__/
MAMMOth_commons.egg-info/
MAMMOth_commons_deployment.egg-info/
requirements.txt
requirements[deployment].txt
LICENSE
CONTRIBUTING.md
README.md
fairbench.log
setup.py
.git
history.json