temp.html
.idea
MAMMOth_commons.egg-info/
MAMMOth_commons_deployment.egg-info/
venv
venv_test
dist
build
Dockerfile
kfp_config.ini
runtime-requirements.txt
**/__pycache__/
*.pyc
__pycache__/
fairbench.log
history.json
.coverage
coverage.xml
coverage.html
htmlcov/
__pycache__/**
.vscode/launch.json
component_metadata
**/component_metadata