temp.html
.idea
MAMMOth_commons.egg-info/
MAMMOth_commons_deployment.egg-info/
venv
dist
build
Dockerfile
kfp_config.ini
runtime-requirements.txt
*.pyc
__pycache__/
fairbench.log
history.json
ir50_adaface.pth