{% extends "base.html" %}

{% block content %}

<style>
    #openModalButton {
        background-color: transparent;
        border: 1px solid #ccc;
        transition: background-color 0.3s ease;
    }

    #openModalButton:hover {
        background-color: #f8f9fa; /* Light background on hover */
    }
</style>

<div class="jumbotron text-center">
    <h1>MAMMOth demonstrator</h1>
    <button type="button" class="btn btn-light" id="openModalButton">
        <i class="bi bi-info-circle"></i> Fairness analysis of models and datasets.
    </button>

</div>
<div class="modal fade" id="infoModal" tabindex="-1" aria-labelledby="infoModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="infoModalLabel">About</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <p>
                    This application contains the base functionality offered by the modules of the
                    MAMMOth bias toolkit linked below.
                </p>
                <p>
                    Start a fairness analysis by clicking on the <i>new</i> button. You will be asked to select
                    loaders for the type of data and models you have available, as well as fill in details. We
                    also offer modules that run out-of-the-box. In the last step,
                    select a sensitive attributes and a fairness assessment metric.</p>
                <p>
                    If you return to the home screen,
                    progress will be saved up to last point at which you clicked <i>next</i>.
                    You may also rerun or create variations of analysis.
                </p>
                <p>
                    Not all modules are compatible with each other. For example, vision models run on image data.
                    Find them all in the catalogue linked below.
                </p>
            </div>
            <div class="modal-footer">
                <a href="https://mammoth-eu.github.io/mammoth-commons/" class="btn btn-secondary" target="_blank">Catalogue</a>
                <a href="https://github.com/mammoth-eu/mammoth-toolkit-releases" class="btn btn-secondary" target="_blank">Toolkit</a>
            </div>
        </div>
    </div>
</div>


<p>
    <a href="{{ url_for('new_task') }}" class="btn btn-primary bi bi-file-plus"> New</a>
</p>

<table class="table table-striped">
    <thead>
        <tr>
            <th>Fairness analysis</th>
            <th>Involved modules</th>
            <th>Last update</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        {% for task in tasks %}
        <tr>
            <td>
                {{ task.name }}
            </td>
            <td>
                {% if task.dataset_loader %}
                  <span class="badge badge-pill badge-secondary">{{ task.dataset_loader }}</span>
                {% else %}

                {% endif %}

                {% if task.model_loader %}
                  <span class="badge badge-pill badge-secondary">{{ task.model_loader }}</span>
                {% else %}

                {% endif %}

                {% if task.analysis_method %}
                  <span class="badge badge-pill badge-secondary">{{ task.analysis_method }}</span>
                {% else %}

                {% endif %}
            </td>
            <td>
                {{ task.modified }}
            </td>
            <td>
                {% if task.status == 'completed' %}
                    <a href="{{ url_for('task_results', task_id=task.id) }}" class="btn btn-sm btn-success bi bi-eye-fill" style="width: 140px;text-align: left;"> View</a>
                {% elif task.status == 'created' %}
                    <a href="{{ url_for('create_variation', task_id=task.id) }}" class="btn btn-sm btn-warning bi bi-exclamation-triangle-fill" style="width: 140px;text-align: left;"> Edit (incomplete)</a>
                {% elif task.status == 'failed' %}
                    <a href="{{ url_for('create_variation', task_id=task.id) }}" class="btn btn-sm btn-danger bi bi-exclamation-triangle-fill" style="width: 140px;text-align: left;"> Edit (fix errors)</a>
                {% else %}
                    <a href="{{ url_for('task_results', task_id=task.id) }}" class="btn btn-sm btn-info bi bi-eye-fill" style="width: 220px;text-align: left;"> Running - show status</a>
                {% endif %}

                <!-- Delete button -->
                <form action="{{ url_for('delete_task', task_id=task.id) }}" method="POST" style="display:inline;">
                    <button type="submit" class="btn btn-sm btn-danger bi bi-trash" style="margin-left: 10px;"></button>
                </form>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>


<script>
    document.addEventListener("DOMContentLoaded", function () {
        const openModalButton = document.getElementById("openModalButton");
        const infoModal = new bootstrap.Modal(document.getElementById("infoModal"), {
            keyboard: true
        });

        openModalButton.addEventListener("click", function () {
            infoModal.show();
        });
    });
</script>
{% endblock %}
