{% extends "base.html" %}

{% block content %}

<form method="post" id="task-form-data" enctype="multipart/form-data" onsubmit="showLoadingModal()">
    <div class="row mt-3">
        <!-- Dataset Loader Column -->
        <div class="col-md-12">
            <div class="form-group ">
                <select class="form-control form-dropdown" name="dataset_loader" id="dataset_loader" onchange="updateDatasetParameters()">
                    <option value="" disabled {% if not base_task %}selected{% endif %}>Choose a dataset loader</option>
                    {% for name, fields in dataset_loaders.items() %}
                        <option value="{{ name }}" {% if base_task and base_task.dataset_loader == name %}selected{% endif %}>{{ name }}</option>
                    {% endfor %}
                </select>
            </div>
            <div class="card card-body">
                <p id="dataset-description">Select a dataset loader from the dropdown list above. Its description and parameters will appear here.</p>
                <div id="dataset-parameters"></div>
            </div>
        </div>
    </div>

    <div class="form-group card card-body mt-3">
        <h5>Analysis name</h5>
        <p>Describe what kind of fairness analysis you are doing. This can be edited at all steps.</p>
        <input type="text" class="form-control" id="task_name" name="task_name" value="{{ default_task_name }}" required>
    </div>

    <button type="submit" class="btn btn-primary btn-lg btn-block mt-5" id="next-button-data" disabled>Next</button>
</form>


<div class="steps d-flex flex-wrap flex-sm-nowrap justify-content-between padding-top-2x padding-bottom-1x mt-3">
  <div class="step completed">
    <div class="step-icon-wrap">
      <div class="step-icon">1</div>
    </div>
    <h4 class="step-title">Load data</h4>
  </div>
  <div class="step">
    <div class="step-icon-wrap">
      <div class="step-icon">2</div>
    </div>
    <h4 class="step-title">Load model</h4>
  </div>
  <div class="step">
    <div class="step-icon-wrap">
      <div class="step-icon">3</div>
    </div>
    <h4 class="step-title">Analysis type</h4>
  </div>
</div>

<div class="modal fade" id="loadingModal" tabindex="-1" aria-labelledby="loadingModalLabel" aria-hidden="true" data-bs-backdrop="static" data-bs-keyboard="false">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header bg-primary text-white">
        <h5 class="modal-title" id="loadingModalLabel">Loading data</h5>
      </div>
      <div class="modal-body">
        Please wait while your data are being loaded. Afterwards, the MAMMOth demonstrator will proceed to the next step. <br><b>Do not close this tab or your browser.</b>
      </div>
    </div>
  </div>
</div>

<script>
    {% include "new_task.js" %}
</script>

{% endblock %}
