{% extends "base.html" %}

{% block content %}

<form method="post" id="task-form-data" enctype="multipart/form-data">
    <div class="row mt-3">
        <!-- Dataset Loader Column -->
        <div class="col-md-12">
            <div class="form-group ">
                <select class="form-control form-dropdown" name="dataset_loader" id="dataset_loader" onchange="updateDatasetParameters()">
                    <option value="" disabled {% if not base_task %}selected{% endif %}>Choose a dataset loader</option>
                    {% for name, fields in dataset_loaders.items() %}
                        <option value="{{ name }}" {% if base_task and base_task.dataset_loader == name %}selected{% endif %}>{{ name }}</option>
                    {% endfor %}
                </select>
            </div>
            <div class="card card-body">
                <p id="dataset-description">The loader's parameters will appear here.</p>
                <div id="dataset-parameters"></div>
            </div>
        </div>
    </div>

    <div class="form-group card card-body mt-3">
        <h5>Analysis name</h5>
        <p>Describe what kind of fairness analysis you are doing. This can be edited at all steps.</p>
        <input type="text" class="form-control" id="task_name" name="task_name" value="{{ default_task_name }}" required>
    </div>

    <button type="submit" class="btn btn-primary btn-lg btn-block mt-5" id="next-button-data" disabled>Next</button>
</form>

<div class="steps d-flex flex-wrap flex-sm-nowrap justify-content-between padding-top-2x padding-bottom-1x mt-3">
  <div class="step completed">
    <div class="step-icon-wrap">
      <div class="step-icon">1</div>
    </div>
    <h4 class="step-title">Load data</h4>
  </div>
  <div class="step">
    <div class="step-icon-wrap">
      <div class="step-icon">2</div>
    </div>
    <h4 class="step-title">Load model</h4>
  </div>
  <div class="step">
    <div class="step-icon-wrap">
      <div class="step-icon">3</div>
    </div>
    <h4 class="step-title">Analysis type</h4>
  </div>
</div>


<script>
    const datasetLoaders = JSON.parse('{{ dataset_loaders|tojson|safe }}');
    const baseTask = {{ base_task|tojson|safe }}; // Contains the base task for pre-filling parameters

    function updateDatasetParameters() {
        const loaderName = document.getElementById('dataset_loader').value;
        const parametersContainer = document.getElementById('dataset-parameters');
        parametersContainer.innerHTML = '';
        document.getElementById('dataset-description').innerHTML = datasetLoaders[loaderName].description;

        if (datasetLoaders[loaderName]) {
            const fields = datasetLoaders[loaderName].parameters;
            for (const param of fields) {
                const inputGroup = createInputField(param[0], param[1], param[2], param[3]);
                parametersContainer.appendChild(inputGroup);
            }

            // Pre-fill with base task's parameters if available
            if (baseTask && baseTask["dataset_loader"] === loaderName) {
                for (const paramName in baseTask["dataset_parameters"]) {
                    const input = document.getElementsByName(paramName)[0];
                    if (input) {
                        input.value = baseTask.dataset_parameters[paramName];
                    }
                }
            }
        }

        checkFormCompletion();
    }

    function checkFormCompletion() {
        const form = document.getElementById('task-form-data');
        const button = document.getElementById('next-button-data');
        const inputs = form.querySelectorAll('input[required]');
        const datasetLoader = document.getElementById('dataset_loader');

        let allFilled = true;
        inputs.forEach(input => {
            if (!input.value) {
                allFilled = false;
            }
        });

        if (datasetLoader.value === "") {
            allFilled = false;
        }

        button.disabled = !allFilled;
    }

    function createInputField(param, type, def, title_text) {
        const div = document.createElement('div');
        div.className = 'form-group';
        div.style.display = 'flex'; // Use flexbox to arrange elements horizontally

        if (type === 'bool') {
            const label = document.createElement('span');
            label.innerHTML = title_text;
            label.htmlFor = param;
            label.style.marginRight = '10px'; // Add some margin for spacing
            label.style.width = '210px';

            const input = document.createElement('input');
            input.type = 'checkbox';
            input.name = param;
            input.id = param;
            if (def === true) input.checked = true;

            div.appendChild(label);
            div.appendChild(input);
        } else if (type === 'url') {
            const title = document.createElement('span');
            title.innerHTML = title_text;
            title.htmlFor = param;
            title.style.marginRight = '10px'; // Add some margin for spacing
            title.style.width = '250px';

            const urlInput = document.createElement('input');
            urlInput.type = 'text';
            urlInput.name = param;
            urlInput.className = 'form-control';
            urlInput.placeholder = 'Enter a URL or file path';
            urlInput.required = true;
            urlInput.value = def !== 'None' ? def : '';

            const browseButton = document.createElement('button');
            browseButton.type = 'button';
            browseButton.className = 'btn btn-secondary';
            browseButton.innerHTML = '<i class="bi bi-folder"></i>';
            browseButton.style.marginLeft = '10px'; // Add some margin for spacing

            browseButton.addEventListener('click', () => {
                const fileInput = document.getElementById('hiddenFileInput');
                fileInput.click();

                fileInput.addEventListener('change', () => {
                    if (fileInput.files.length > 0) {
                        urlInput.value = `file://${fileInput.files[0].name}`;
                        checkFormCompletion();
                    }
                });
            });

            div.appendChild(title);
            div.appendChild(urlInput);
            div.appendChild(browseButton);
        } else {
            const title = document.createElement('span');
            title.innerHTML = title_text;
            title.htmlFor = param;
            title.style.marginRight = '10px'; // Add some margin for spacing
            title.style.width = '250px';

            const input = document.createElement('input');
            input.className = 'form-control';
            input.name = param;
            if (def != 'None') input.value = def;

            switch (type) {
                case 'str':
                    input.type = 'text';
                    break;
                case 'int':
                    input.type = 'number';
                    input.step = '1';
                    break;
                case 'float':
                    input.type = 'number';
                    input.step = 'any';
                    break;
                default:
                    input.type = 'text';
            }
            input.required = true;
            input.addEventListener('input', checkFormCompletion);

            div.appendChild(title);
            div.appendChild(input);
        }

        return div;
    }

    // Preload dataset parameters if baseTask exists
    if (baseTask) {
        updateDatasetParameters();
    }

</script>
{% endblock %}
